<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Cormorant:wght@300&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="topicManager.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
        <div class="container-fluid">
            <a class="navbar-brand" href="/topicManager">Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto">
                    <a class="nav-link" href="/topicManager_manage_users">Manage Users</a>
                    <a class="nav-link" href="/requests">Requests </a>
                    
                </div>
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
        <%= Message %>
        <div class="accept_topic">
                <% var i=1 %>
                <% data.reverse().forEach(person=> { %>
                <% articles.reverse().forEach(article=> { %>
                    
                    <% if ( person._id == article.id && article.category === id) { %>
                       
                        

                    <% if (person.status === 1 && article.isAccepted === 0 && person.privilege !=='admin' && article.isRejected === 0) { %>
                    <div style="margin: 10px;"></div>
                    <div class="image-container">
                        <img src="/<%= article.Image %>" height="250px" width="200px">
                       
                 <%
                    const requestedTime = new Date(article.requestedTime);
                %>

                <h4><%= requestedTime.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></h4>

                        <h1>
                            <%= article.topic %>
                        </h1>
                    
                    <div class="article-article" style="margin: 10px;">
                        <p>
                            <p style="display: inline;"><%= article.article.substr(0,300) + "..."%></p><a style="display: inline;" href="/view_more/<%= data._id %>">view more</a>

                        </p>
                      
                    </div>
                    

                            <div style="margin-bottom: 20px;">
                                By <%= person.name %>
                            </div>
                             <a href="/accept_Article/<%= article.count %>"><button>accept</button></a>
                            <a href="/reject_Article/<%= article.count %>"><button>reject</button></a>
                        </div>
                            <% } %>
                            <% } %>
                         <% }); %>
                <% }); %>

                </div>

                
</body>

</html>